<h1>System Configuraion</h1>

<p>Add a new building</p>
<%= link_to "New Building", new_building_path %>

<p>Add a new lodging</p>
<%= link_to "New Lodging", new_lodging_path %>

<p>Add a new room</p>
<%= link_to "New Room", new_room_path %>

<p>Edit user permissions</p>
<%= link_to "Edit permissions", user_roles_path %>
